<form [formGroup]="addHabitForm" class="flex flex-col gap-4" novalidate>
  <div class="flex flex-col gap-2">
    <label for="name" class="block required">Name</label>
    <div>
      <input [formControl]="addHabitForm.controls.name"
             [invalid]="!!addHabitForm.controls.name.getError('serverError') || (!!addHabitForm.controls.name.errors && addHabitForm.controls.name.dirty)"
             [maxLength]="100"
             name="name"
             type="text"
             id="name"
             pInputText
             fluid />
      @if (addHabitForm.controls.name.getError('serverError'); as serverError) {
        <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
      }
      @if (addHabitForm.controls.name.getError('issue') && addHabitForm.controls.name.dirty) {
        <small class="text-sm text-red-500 mt-1">
          {{ addHabitForm.controls.name.getError('issue') }}
        </small>
      }
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <label for="description" class="block">Description</label>
    <textarea [formControl]="addHabitForm.controls.description"
              [invalid]="!!addHabitForm.controls.description.getError('serverError') || (!!addHabitForm.controls.description.errors && addHabitForm.controls.description.dirty)"
              [maxLength]="500"
              name="description"
              id="description"
              pInputTextarea
              fluid></textarea>
    @if (addHabitForm.controls.description.getError('serverError'); as serverError) {
      <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
    }
    @if (addHabitForm.controls.description.getError('issue') && addHabitForm.controls.description.dirty) {
      <small class="text-sm text-red-500 mt-1">
        {{ addHabitForm.controls.description.getError('issue') }}
      </small>
    }
  </div>
  <div class="flex flex-col gap-2">
    <label for="habitType" class="block">Type</label>
    <p-select [formControl]="addHabitForm.controls.type"
              [options]="habitTypeSelectItems"
              [invalid]="!!addHabitForm.controls.type.getError('serverError') || (!!addHabitForm.controls.type.errors && addHabitForm.controls.type.dirty)"
              appendTo="body"
              name="habitType"
              inputId="habitType"
              fluid />
    @if (addHabitForm.controls.type.getError('serverError'); as serverError) {
      <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
    }
    @if (addHabitForm.controls.type.getError('issue') && addHabitForm.controls.type.dirty) {
      <small class="text-sm text-red-500 mt-1">
        {{ addHabitForm.controls.type.getError('issue') }}
      </small>
    }
  </div>
  <div class="flex gap-4">
    <div class="flex flex-col gap-2 flex-1">
      <label for="frequencyType" class="block">Frequency Type</label>
      <p-select [formControl]="addHabitForm.controls.frequencyType"
                [options]="frequencyTypeSelectItems"
                [invalid]="!!addHabitForm.controls.frequencyType.getError('serverError') || (!!addHabitForm.controls.frequencyType.errors && addHabitForm.controls.frequencyType.dirty)"
                appendTo="body"
                name="frequencyType"
                inputId="frequencyType"
                fluid />
      @if (addHabitForm.controls.frequencyType.getError('serverError'); as serverError) {
        <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
      }
      @if (addHabitForm.controls.frequencyType.getError('issue') && addHabitForm.controls.frequencyType.dirty) {
        <small class="text-sm text-red-500 mt-1">
          {{ addHabitForm.controls.frequencyType.getError('issue') }}
        </small>
      }
    </div>
    <div class="flex flex-col gap-2 flex-1">
      <label for="timesPerPeriod" class="block">Times Per Period</label>
      <p-input-number
        [formControl]="addHabitForm.controls.frequencyTimesPerPeriod"
        [invalid]="!!addHabitForm.controls.frequencyTimesPerPeriod.getError('serverError') || (!!addHabitForm.controls.frequencyTimesPerPeriod.errors && addHabitForm.controls.frequencyTimesPerPeriod.dirty)"
        [min]="1"
        [max]="999"
        name="timesPerPeriod"
        inputId="timesPerPeriod"
        showButtons
        fluid />
      @if (addHabitForm.controls.frequencyTimesPerPeriod.getError('serverError'); as serverError) {
        <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
      }
      @if (addHabitForm.controls.frequencyTimesPerPeriod.getError('issue') && addHabitForm.controls.frequencyTimesPerPeriod.dirty) {
        <small class="text-sm text-red-500 mt-1">
          {{ addHabitForm.controls.frequencyTimesPerPeriod.getError('issue') }}
        </small>
      }
    </div>
  </div>
  <div class="flex gap-4">
    <div class="flex flex-col gap-2 flex-1">
      <label for="targetValue" class="block">Target Value</label>
      <p-input-number [formControl]="addHabitForm.controls.targetValue"
                      [invalid]="!!addHabitForm.controls.targetValue.getError('serverError') || (!!addHabitForm.controls.targetValue.errors && addHabitForm.controls.targetValue.dirty)"
                      [min]="1"
                      [max]="9999"
                      name="targetValue"
                      inputId="targetValue"
                      showButtons
                      fluid />
      @if (addHabitForm.controls.targetValue.getError('serverError'); as serverError) {
        <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
      }
      @if (addHabitForm.controls.targetValue.getError('issue') && addHabitForm.controls.targetValue.dirty) {
        <small class="text-sm text-red-500 mt-1">
          {{ addHabitForm.controls.targetValue.getError('issue') }}
        </small>
      }
    </div>
    <div class="flex flex-col gap-2 flex-1">
      <label for="targetUnit" class="block">Unit</label>
      <div>
        <input [formControl]="addHabitForm.controls.targetUnit"
               [invalid]="!!addHabitForm.controls.targetUnit.getError('serverError') || (!!addHabitForm.controls.targetUnit.errors && addHabitForm.controls.targetUnit.dirty)"
               [maxlength]="100"
               name="targetUnit"
               type="text"
               id="targetUnit"
               pInputText
               fluid />
        @if (addHabitForm.controls.targetUnit.getError('serverError'); as serverError) {
          <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
        }
        @if (addHabitForm.controls.targetUnit.getError('issue') && addHabitForm.controls.targetUnit.dirty) {
          <small class="text-sm text-red-500 mt-1">
            {{ addHabitForm.controls.targetUnit.getError('issue') }}
          </small>
        }
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <label for="endDate" class="block">
      End Date
      <span class="text-sm font-normal text-surface-400">(optional)</span>
    </label>
    <p-datepicker [formControl]="addHabitForm.controls.endDate"
                  [invalid]="!!addHabitForm.controls.endDate.getError('serverError') || (!!addHabitForm.controls.endDate.errors && addHabitForm.controls.endDate.dirty)"
                  [minDate]="today"
                  [showButtonBar]="true"
                  appendTo="body"
                  name="endDate"
                  inputId="endDate"
                  dateFormat="dd/mm/yy"
                  showClear
                  fluid />
    @if (addHabitForm.controls.endDate.getError('serverError'); as serverError) {
      <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
    }
    @if (addHabitForm.controls.endDate.getError('issue') && addHabitForm.controls.endDate.dirty) {
      <small class="text-sm text-red-500 mt-1">
        {{ addHabitForm.controls.endDate.getError('issue') }}
      </small>
    }
  </div>
  <div class="flex flex-col gap-2">
    <label for="milestoneTarget" class="block">
      Milestone Target
      <span class="text-sm font-normal text-surface-400">(optional)</span>
    </label>
    <p-input-number [formControl]="addHabitForm.controls.milestoneTarget"
                    [invalid]="!!addHabitForm.controls.milestoneTarget.getError('serverError') || (!!addHabitForm.controls.milestoneTarget.errors && addHabitForm.controls.milestoneTarget.dirty)"
                    [min]="1"
                    [max]="9999"
                    name="milestoneTarget"
                    inputId="milestoneTarget"
                    showButtons
                    showClear
                    fluid />
    @if (addHabitForm.controls.milestoneTarget.getError('serverError'); as serverError) {
      <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
    }
    @if (addHabitForm.controls.milestoneTarget.getError('issue') && addHabitForm.controls.milestoneTarget.dirty) {
      <small class="text-sm text-red-500 mt-1">
        {{ addHabitForm.controls.milestoneTarget.getError('issue') }}
      </small>
    }
  </div>
  <div class="flex flex-col gap-2">
    <label for="tags" class="block">
      Tags
      <span class="text-sm font-normal text-surface-400">(optional)</span>
    </label>
    <p-multiselect [formControl]="addHabitForm.controls.tagIds"
                   [options]="$tagSelectItems()"
                   [invalid]="!!addHabitForm.controls.tagIds.getError('serverError')"
                   appendTo="body"
                   name="tags"
                   inputId="tags"
                   optionLabel="label"
                   optionValue="value"
                   placeholder="Select tags"
                   display="chip"
                   fluid />
    @if (addHabitForm.controls.tagIds.getError('serverError'); as serverError) {
      <small class="text-sm text-red-500 mt-1">{{ serverError }}</small>
    }
  </div>
</form>
