<div class="layout-topbar">
  <div class="topbar-left">
    <button (click)="toggleMenu()"
            tabindex="0"
            type="button"
            class="menu-button">
      @if ($isMenuOpened()) {
        <i class="pi pi-chevron-left"></i>
      }
      @else {
        <i class="pi pi-chevron-right"></i>
      }
    </button>
  </div>
  <div class="topbar-right">
    <ul class="topbar-menu">
      <li class="right-sidebar-item">
        <a class="right-sidebar-button">
          <i class="pi pi-search"></i>
        </a>
      </li>
      <li class="right-sidebar-item">
        <a class="right-sidebar-button">
          <i class="pi pi-bell"></i>
        </a>
      </li>
      <li class="right-sidebar-item">
        <a (click)="toggleTheme()" class="right-sidebar-button">
          @if ($isDarkMode()) {
            <i class="pi pi-sun"></i>
          } @else {
            <i class="pi pi-moon"></i>
          }
        </a>
      </li>
      <li class="profile-item static sm:relative">
        <a (click)="profileMenu.toggle($event);" class="right-sidebar-button">
          <i class="pi pi-user"></i>
        </a>
        <p-menu #profileMenu
                [model]="profileMenuItems"
                [popup]="true"
                appendTo="body" />
      </li>
    </ul>
  </div>
</div>

