.layout-topbar {
  position: static;
  width: calc(100% - 4rem);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid var(--surface-border);
  margin: 0 auto;

  .topbar-left {
    display: flex;
    align-items: center;

    .menu-button {
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      text-align: center;
      color: var(--text-color);
      display: block;
      cursor: pointer;
      overflow: hidden;
      border-radius: var(--border-radius);
      background: transparent;
      transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
      outline: none 0;


      &:hover {
        background-color: var(--surface-hover);
      }
    }
  }

  .topbar-right {
    .topbar-menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      & > li {
        margin-left: 1rem;
        position: relative;

        & > a {
          width: 2.5rem;
          height: 2.5rem;
          line-height: 2.5rem;
          text-align: center;
          color: var(--text-color);
          display: block;
          position: relative;
          cursor: pointer;
          user-select: none;
          overflow: hidden;
          border-radius: var(--border-radius);
          transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
          outline: none;

          &:hover {
            background-color: var(--surface-hover);
          }

          & i {
            line-height: inherit;
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}
