.layout-menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.35rem;

    a {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-weight: 500 !important;
      box-shadow: none !important;
      padding: 0.45rem 0.75rem;
      border-radius: var(--border-radius);
      transition: box-shadow var(--transition-duration);
      color: var(--d-menuitem-text-color);

      &:hover {
        background: var(--d-menuitem-hover-bg) !important;
      }

      &.active-route {
        color: var(--d-menuitem-active-route-text-color) !important;
      }
    }
  }

  .layout-root-menuitem > .layout-menuitem-root-text {
    color: var(--d-menuitem-root-text-color);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0 0 0.5rem;
  }
}
