<ul class="layout-menu">
  @for (item of menuItems; track item.id) {
    <li class="layout-root-menuitem">
      <div class="layout-menuitem-root-text">{{ item.label}}</div>
      @if (item.items?.length) {
        <ul class="layout-root-submenulist">
          @for (child of item.items; track child.id) {
            <li class="layout-menuitem">
              <a [routerLink]="child.routerLink"
                 [routerLinkActive]="'active-route'"
                 class="flex gap-2">
                <i [class]="`layout-menuitem-icon ${child.icon}`"></i>
                <span class="layout-menuitem-text text-inherit label-small">
                  {{child.label}}
                </span>
              </a>
            </li>
          }
        </ul>
      }
    </li>
  }
</ul>
