.layout-footer {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  .footer-logo-container {
    height: 20px;
    display: flex;
    align-items: center;
  }

  .footer-copyright {
    font-size: 0.875rem;
    color: var(--text-muted-color);
  }
}
