<div>
  <div class="flex justify-between">
    <h2 class="text-3xl font-bold">My Habits</h2>
    <p-button (click)="addHabit()" label="Create New Habit" />
  </div>
  <p-data-view [value]="$habits()" layout="list" class="mt-4">
    <ng-template #list let-habits>
      <div class="flex flex-col gap-4">
        @for (habit of habits; track habit.id) {
          <div (click)="viewHabit(habit.id)"
               class="border border-(--surface-border) rounded-lg p-4 flex flex-col gap-2 shadow-sm hover:shadow-md cursor-pointer transition-shadow">
            <div>
              <p class="text-2xl font-semibold">{{ habit.name }}</p>
              <span>{{ habit.description }}</span>
            </div>
            <div class="flex justify-between">
              <div></div>
              <div>
                <span
                  class="text-surface-500 text-sm font-normal leading-tight">
                  Created: {{ habit.createdAtUtc | date }}
                </span>
                @if (habit.lastModifiedAtUtc) {
                  <br />
                  <span
                    class="text-surface-500 text-sm font-normal leading-tight">
                    Updated: {{ habit.lastModifiedAtUtc | date }}
                  </span>
                }
              </div>
            </div>
          </div>
        }
      </div>
    </ng-template>
  </p-data-view>
</div>
