<nav
  class="landing-container fixed top-4 left-1/2 -translate-x-1/2 w-full z-1000 rounded-2xl">
  <div
    class="py-4 px-6 rounded-2xl border border-surface-200 transition-all">
    <div class="flex items-center justify-between">
      <div class="flex-1 flex">
        <a routerLink="/">
          <app-logo-widget heightPx="30" widthPx="110" />
        </a>
      </div>
      <ul class="flex-none hidden md:flex items-center gap-2"></ul>
      @if ($isAuthenticated()) {
        <div class="flex-1 md:flex items-center justify-end gap-4">
          <a routerLink="/app"
             class="flex items-center justify-center leading-normal font-medium py-1.5 border border-primary-600 text-surface-0 transition-all"
             pButton>
            Go to App
          </a>
        </div>
      }
      @else {
        <div class="flex-1 md:flex items-center justify-end gap-4">
          <a routerLink="/login"
             severity="secondary"
             class="flex items-center justify-center w-24 leading-normal font-medium py-2 border border-surface-200 text-surface-900 transition-all"
             pButton>
            Login
          </a>
          <a routerLink="/register"
             class="flex items-center justify-center w-24 leading-normal font-medium py-2 border border-primary-600 text-surface-0 transition-all"
             pButton>
            Register
          </a>
        </div>
      }
    </div>
  </div>
</nav>
